@{
    ViewBag.Title = "About";
}
<section id="about" class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="heading">About Tyler</h2>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <p>I enjoy commitment. I feel like I can say that, after all the changes I've made on my course to become a programmer. Working through a problem, asking questions, and finding a solution are all very rewarding to me. I prefer making my projects efficient, minimalist, and above all I like it when they<strong> work</strong>.</p>
                        <p><img src="~/Template/img/about.jpg" alt="This is me" class="image img-circle img-responsive"></p>
                    </div>
                    <div class="col-sm-6">
                        <p>My skills and knowledge in the subjects listed below have been steadily increasing as I progress through my course. I intend to keep learning after I graduate, because I'm a nerd and I think learning is entertaining.</p>
                        <div class="skill-item">
                            <div class="progress-title">MVC</div>
                            <div class="progress">
                                <div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;" class="progress-bar progress-bar-skill1"><span class="sr-only">50</span></div>
                            </div>
                        </div>
                        <div class="skill-item">
                            <div class="progress-title">HTML</div>
                            <div class="progress">
                                <div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;" class="progress-bar progress-bar-skill2"><span class="sr-only">50</span></div>
                            </div>
                        </div>
                        <div class="skill-item">
                            <div class="progress-title">CSS</div>
                            <div class="progress">
                                <div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;" class="progress-bar progress-bar-skill3"><span class="sr-only">50</span></div>
                            </div>
                        </div>
                        <div class="skill-item">
                            <div class="progress-title">C#</div>
                            <div class="progress">
                                <div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;" class="progress-bar progress-bar-skill4"><span class="sr-only">50</span></div>
                            </div>
                        </div>
                        <div class="skill-item">
                            <div class="progress-title">Javascript</div>
                            <div class="progress">
                                <div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;" class="progress-bar progress-bar-skill5"><span class="sr-only">50</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 mt-big"></div>
        </div>
    </div>
</section>


