@{
    ViewBag.Title = "Home Page";
}

<section id="intro" class="text-intro no-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-10">
                <h1>Hello.<br />I'm <span class="text-primary">Tyler Rowe</span>, a web design and programming student living in Charlotte, NC.</h1>
            </div>
        </div>
    </div>
</section>

<section id="portfolio" class="no-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="heading">Projects</h2>
                <p class="lead margin-bottom--big">These will be updated and added as I progress through the course.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-space">
            <div class="col-sm-4 col-md-3">
                <div class="box"><a href="~/Template/img/portfolio/paper-presentation.jpg" title="" data-toggle="lightbox" data-gallery="portfolio" data-title="Fizz Buzz in Javascript" data-footer= >         <img src="~/Template/img/portfolio/paper-presentation.jpg" alt="" class="img-responsive"></a></div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="box"><a href="~/Template/img/portfolio/business-card-26.jpg" title="" data-toggle="lightbox" data-gallery="portfolio" data-title="Quiz App in Javascript" data-footer="Fifth abundantly made Give sixth hath. Cattle creature i be don't them."><img src="~/Template/img/portfolio/business-card-26.jpg" alt="" class="img-responsive"></a></div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="box"><a href="~/Template/img/portfolio/gravity-paper.jpg" title="" data-toggle="lightbox" data-gallery="portfolio" data-title="Hot or Cold Game in Javascript" data-footer="Fifth abundantly made Give sixth hath. Cattle creature i be don't them."><img src="~/Template/img/portfolio/gravity-paper.jpg" alt="" class="img-responsive"></a></div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="box"><a href="~/Template/img/portfolio/envelope-brand.jpg" title="" data-toggle="lightbox" data-gallery="portfolio" data-title="Name of the work 4" data-footer="Fifth abundantly made Give sixth hath. Cattle creature i be don't them."><img src="~/Template/img/portfolio/envelope-brand.jpg" alt="" class="img-responsive"></a></div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="box"><a href="~/Template/img/portfolio/business-card.jpg" title="" data-toggle="lightbox" data-gallery="portfolio" data-title="Name of the work 5" data-footer="Fifth abundantly made Give sixth hath. Cattle creature i be don't them."><img src="~/Template/img/portfolio/business-card.jpg" alt="" class="img-responsive"></a></div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="box"><a href="~/Template/img/portfolio/trifold.jpg" title="" data-toggle="lightbox" data-gallery="portfolio" data-title="Name of the work 6" data-footer="Fifth abundantly made Give sixth hath. Cattle creature i be don't them."><img src="~/Template/img/portfolio/trifold.jpg" alt="" class="img-responsive"></a></div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="box"><a href="~/Template/img/portfolio/label-clothes.jpg" title="" data-toggle="lightbox" data-gallery="portfolio" data-title="Name of the work 7" data-footer="Fifth abundantly made Give sixth hath. Cattle creature i be don't them."><img src="~/Template/img/portfolio/label-clothes.jpg" alt="" class="img-responsive"></a></div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="box"><a href="~/Template/img/portfolio/ipad-air-2.jpg" title="" data-toggle="lightbox" data-gallery="portfolio" data-title="Name of the work 8" data-footer="Fifth abundantly made Give sixth hath. Cattle creature i be don't them."><img src="~/Template/img/portfolio/ipad-air-2.jpg" alt="" class="img-responsive"></a></div>
            </div>
        </div>
    </div>
</section>